<app-navbar></app-navbar>
<div class="container" id="container-modalidad">
    <div class="row">
        <div id="plus" class="col-md-1">
            <button type="button" class="btn btn-outline-info " id="btn-arrow" [routerLink]="['/home']"><i class=" fas fa-arrow-left"></i></button>
        </div>
        <div class="input-group input-group-sm mb-3 col-md-6 justify-content-start" (click)="mostrarCuadricula(select)">
            <div class="input-group-prepend ">
                <label class="input-group-text " for="inp-select-mod">Elegir modalidad</label>
            </div>
            <select class="custom-select" id="inp-select-mod" #select>
                <option selected >Selecionar...</option>
                <option value="LINEAL" #lineal>LINEAL</option>
                <option value="LLENO" #lleno>LLENO</option>
                <option value="LLENO SEGUNDA" #llenoS>LLENO SEGUNDA</option>
                <option value="FIGURA" #figura>FIGURA</option>
                <option value="MEDIO LLENO" #medioL>MEDIO LLENO</option>
                <option value="T Y T AL REVES" #tyt>T Y T AL REVES</option>
            </select>
        </div>
    </div>
</div>
<app-cuadricula *ngIf="select.value == lineal.value || select.value == lleno.value || select.value == llenoS.value || select.value == figura.value || select.value == medioL.value || select.value == tyt.value" [modalidad]="select.value"></app-cuadricula>
<app-footer></app-footer>
<router-outlet></router-outlet>