<div class="container-fluid" *ngIf="guar">
    <div class="row justify-content-center">
        <div class="col-md-3 margin-div">
            <div class="row justify-content-between">
                <div class="col-md-3">
                    <h6>{{nombre}}</h6>
                </div>
                <div class="col-md-1">
                    <a href="#"><i class="fas fa-times justify-content-center"></i></a>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-2 margin-div-casilla">
                        a
                    </div>
                    <div class="col-2 margin-div-casilla">
                        a
                    </div>
                    <div class="col-2 margin-div-casilla">
                        a
                    </div>
                    <div class="col-2 margin-div-casilla">
                        a
                    </div>
                    <div class="col-2 margin-div-casilla">
                        a
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 margin-div-casilla">
                        a
                    </div>
                    <div class="col-2 margin-div-casilla">
                        a
                    </div>
                    <div class="col-2 margin-div-casilla">
                        a
                    </div>
                    <div class="col-2 margin-div-casilla">
                        a
                    </div>
                    <div class="col-2 margin-div-casilla">
                        a
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 margin-div-casilla">
                        a
                    </div>
                    <div class="col-2 margin-div-casilla">
                        a
                    </div>
                    <div class="col-2 margin-div-casilla">
                        a
                    </div>
                    <div class="col-2 margin-div-casilla">
                        a
                    </div>
                    <div class="col-2 margin-div-casilla">
                        a
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 margin-div-casilla">
                        a
                    </div>
                    <div class="col-2 margin-div-casilla">
                        a
                    </div>
                    <div class="col-2 margin-div-casilla">
                        a
                    </div>
                    <div class="col-2 margin-div-casilla">
                        a
                    </div>
                    <div class="col-2 margin-div-casilla">
                        a
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 margin-div-casilla">
                        a
                    </div>
                    <div class="col-2 margin-div-casilla">
                        a
                    </div>
                    <div class="col-2 margin-div-casilla">
                        a
                    </div>
                    <div class="col-2 margin-div-casilla">
                        a
                    </div>
                    <div class="col-2 margin-div-casilla">
                        a
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>