<div class="row justify-content-center sin-m-p" id="container-main-login">
    <div class="col-md-4" id="container-login">
        <div class="container">
            <div class="row justify-content-center" id="container-main">
                <div class="container sin-m-p" id="container-logo">
                    <div class="row justify-content-center">
                        <img src=" ../../../assets/img/log-bingo.png " alt=" " id="logo">
                    </div>
                </div>
                <div class="col-md-9">
                    <form action="">
                        <div class="form-group sin-m-p">
                            <div class="">
                                <label for="" id="lb-correo">Correo</label>
                            </div>
                            <div class="">
                                <input type="email" class="form-control" id="inp-correo">
                            </div>
                        </div>
                        <div class="form-group sin-m-p">
                            <div class="">
                                <label for="" id="lb-contraseña">Contraseña</label>
                            </div>
                            <div class="">
                                <input type="password" class="form-control" id="inp-contraseña">
                            </div>
                        </div>
                        <div class="row justify-content-center sin-m-p ">
                            <button class="btn-outline-primary btn-lg " type="submit " id="boton" [routerLink]="['/home']">
                                    INICIAR SESIÓN
                                </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>